.home-time-tab {
  padding: 0 10px 3px;
}

.home-time-active {
  border-bottom: 3px solid #1890ff;
}

.home-flow-active {
  border: 1px solid #888888;
  padding: 0 30px 10px;
  border-bottom: 0;
  -webkit-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
  border-top: 2px solid;
}
