$white: #fff;
$eee: #eee;
$d2d6de: #d2d6de;
$_8c8c8c: #8c8c8c;
$_333: #333;
$f4f4f4: #f4f4f4;
$aaa: #aaa;
$_222d32: #222d32;
$ecf0f5: #ecf0f5;
$ddd: #ddd;
$_23527c: #23527c;
$f2f4f4: #f2f4f4;
$_555: #555;
$eeeff1: #eeeff1;
$_00c1de: #00c1de;
$f5222d: #f5222d;
$FF9933: #ff9933;
$_34a9df: #34a9df;
$_4BB2FF: #4bb2ff;
$f5f5f5: #f5f5f5;
$_999: #999;
$_000: #000;

.color-fff,
.weight.color-fff {
  color: $white;
}

.color-000{
  color:$_000;
}

.color-FF9933 {
  color: $FF9933;
}

.color-0099FF,
.weight.color-0099FF {
  color: #0099ff;
}

.color-d2d6de {
  color: $d2d6de;
}

.color-8c8c8c {
  color: $_8c8c8c;
}

.color-333 {
  color: $_333;
}
.color-606266 {
  color: #606266;
}
.color-aaa {
  color: $aaa;
}

.color-23527c {
  color: $_23527c;
}

.color-555 {
  color: $_555;
}

.color-f5222d {
  color: $f5222d;
}

.color-34a9df {
  color: $_34a9df;
}

.color-4BB2FF {
  color: $_4BB2FF;
}

.color-999 {
  color: $_999;
}

.color-6699FF {
  color: #6699ff;
}
