/* AppComponent's private CSS styles */
h1 {
  font-size: 1.2em;
  margin-bottom: 0;
}
h2 {
  font-size: 2em;
  margin-top: 0;
  padding-top: 0;
}
h4{
  text-align: center;
  color: #fff;
}
.infi-content{
  display: flex;
  .left-nav{
    .roActive{
      color: #fff;
      background-color:#039be5;
    }
    .roActive:hover{
      color: #fff;
    }
  }
  .left-nav a {
    display: block;
    flex-direction: column;
    padding: 5px 10px;
    text-decoration: none;
    text-align: center;
    margin-top: 10px;
    color: hsla(0,0%,100%,.65);
    border-radius: 4px;
  }
  .left-nav a:hover {
    cursor: pointer;
    color: #039be5;
  }
  .left-nav a.active {
    color: #039be5;
  }
  .left-nav,.right-content{
    display: flex;
    flex-direction: column;
  }
  .left-nav{
    background-color:#001529;
    margin: -8px;
    flex: 1;
    min-height: 100vh;
    border: 1px solid #001529;
  }
  .right-content{
    flex: 7;
    padding-left: 20px;
  }
}
