.text-align-center {
  text-align: center;
}

.text-align-right {
  text-align: right;
}

.text-align-left {
  text-align: left;
}

.font-weight-bold {
  font-weight: bold;
}

.font-size-13 {
  font-size: 13px;
}

.font-size-12 {
  font-size: 12px;
}

.font-size-16 {
  font-size: 16px;
}

.font-size-18 {
  font-size: 18px;
}

.font-size-20 {
  font-size: 20px
}

.font-size-28 {
  font-size: 28px
}

.font-size-30 {
  font-size: 30px
}

.line-height-md,
.weight.line-height-md {
  line-height: 1.42857143;
}

.line-height-24 {
  line-height: 24px;
}
.height-24{
  line-height: 24px;
}

.line-height-30 {
  line-height: 30px;
}
.height-30{
  line-height: 30px;
}

.white-space-normal,
.weight.white-space-normal {
  white-space: normal;
}

.vertical-align-middel {
  vertical-align: middle;
}

.text-overflow-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.text-decoration-none {
  text-decoration: none;
}

.line-height-2 {
  line-height: 2;
}
